* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../fonts/SF-UI-Display-Regular.otf);
}

body {
    color: #fff;
    line-height: 1.5;
    font-family: SF-Pro-Text;
    font-size: 1.6rem;
    vertical-align: middle;
    background: #272727 url("../img/cover-00.png") no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
}

a {
    text-decoration: none;
}

.modal-container {
    background-color: #fff;
    margin: 0 10rem;
    max-width: 430px;
    padding: 20px;
    height: 100vh;
}

.modal-header {
    padding: 0.2rem 1rem;
    color: #fff;
    margin: 1rem 0;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal label {
    display: block;
    color: #272727;
    font-size: 1.4rem;
}

.modal input {
    width: 100%;
    padding: 10px;
    border: #272727 1px solid;
    border-radius: 0.4rem;
    font-size: 1.3rem;
}

.modal {
    padding: 15px 25px;
    color: #333;
    border-radius: 0.4rem;
}

.modal input[type="submit"] {
    background: #27af43;
    color: #fff;
    margin-bottom: 2rem;
    border: none;
}

#modal-login .modal input[type="submit"] {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

#modal-login .modal a {
    color: #272727;
    text-align: center;
}

footer {
    color: #272727;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#modal-login label {
    padding: 1.2rem 0;
}

.modal .form-control.success input {
    border-color: #2ecc71;
}

.modal .form-control.error input {
    border-color: #e74c3c;
}

.modal-container .modal .form-control small {
    color: #e74c3c;
    visibility: hidden;
}

.modal .form-control.error small {
    visibility: visible;
}

#register,
#login {
    color: #27af43;
}

footer span {
    cursor: pointer;
    padding-left: 0.5rem;
}

.form-check .form-check-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-check .form-check-label input[name="remember"] {
    width: 1.3rem;
    margin-right: 1rem;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 4px;
}

.modal-content .modal-form #forgot {
    float: right;
    color: #337cd9;
    transform: translateY(-3.16rem);
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.login-footer {
    margin-top: -2.2rem;
}
