/* .search-box:hover > .search-text{
    width: 350px;
    background: #fff;
} */


.search-text {
    position: relative;
    right: -3rem;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    font-size: 14px;
    transition: 0.5s ease-out;
    border-radius: 4px;
    width: 0;
    padding: 4px 10px;
}

#close-icon {
    position: relative;
    right: -1rem;
    padding-top: 0.7rem;
    display: none;
    color: #7a7a7a;
    z-index: 100;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-box {
    display: flex;
}
.search-btn {
    height: 26px;
    cursor: pointer;
    z-index:90;
}

.cart-btn {
    height: 26px;
    cursor: pointer;
    z-index:90;
}

.next-01f-btn {
    width:45px;
    height:90px;
    cursor: pointer;
    z-index:90;
}

.prve-bo {
    width: 45px;
    height: 90px;
}

.next-bo {
    width: 45px;
    height: 90px;
}

#input-search {
    display: flex;
}
