@font-face {
    font-family: SF-Pro-Text;
    src: url(../fonts/SF-UI-Display-Regular.otf);
  }

* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hiden {
    display: none;
}
html {
    font-size: 62.5%;
}

body {
    font-family: SF-Pro-Text;
    font-size: 1.6rem;
    vertical-align: middle;
}

a,li {
    text-decoration: none;
    color: #fff;
    font-family: SF-Pro-Text;
}

ul {
    list-style: none;
}

.container {
    margin: auto;
    overflow: hidden;
}

/* nav-bar */
#main-nav .container {
    display: flex;
    position: sticky;
    top: 0;
    background: #272727;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

 #main-nav .container .nav-text ul {
     display: flex;
}

#main-nav .container .nav-text ul li {
    padding: 0 1rem;
}

#main-nav .container .nav-text {
    padding-left: 10rem;
}

#main-nav .container .nav-text ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#main-nav .container .icon-register ul li{
    padding: 0 0.8rem;
}

#main-nav .container .icon-register ul li:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

#main-nav .container .icon-register ul {
    display: flex;
    align-items: center;
}

#main-nav .logo {
    font-size: 3rem;
    color: #fff;
}

#main-nav .container .icon-register .img-avatar {
    display: flex;
    align-items: center;
}

#main-nav .container .icon-register .img-avatar img {
    object-fit: cover;
    border-radius: 50%;
}


#main-nav .container .icon-register .img-avatar #user {
    font-size: 1.6rem;
    color: #fff;
    padding-left: 1rem;
    cursor: pointer;
}

.logout-container {
    position: absolute;
    display: none;
    top:3.8rem;
    right: 6rem;
    background: #272727;
    color: #fff;
    max-width: 15rem;
    text-align: center;
    border-radius: 0.4rem;
}

.show-logout {
    display: block;
}

#close-logout {
    margin-top: 0.9rem;
    font-size: 1rem;
    text-align: right;
    cursor: pointer;
}
.logout-container.logout-container ul li{
    padding: 1.5rem 0.6rem;
    font-size: 1.3rem;
}

.logout-container ul li:hover{
    background: #636262;
    border-radius: 0.4rem;
}

.content-search {
    position: absolute;
    top: 3.4rem;
    width: 35rem;
    border-radius: 0.4rem;
    max-height: 40rem;
    overflow: hidden;
    z-index: 100;
}
.content-search .container-content ul {
    display: flex;
    flex-direction: column;
}
.content-search .container-content ul li  {
    background: #272727;
    margin-top: 1rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
}
.content-search .container-content ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-search .container-content ul li:hover  {
    background: #636262;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #636262;

}
::-webkit-scrollbar-track {
    border-radius: 0.4rem;
}

.content-search .container-content ul li a p {
    padding: 2rem;

}
.content-search .container-content ul li a img {
    margin-left: 2rem;
}
/* showcase section */

#showcase-header .showcase-container {
    display: flex;
    color: #272727;
    justify-content: space-between;
    height: 60rem;
    align-items: center;
    padding: 0 6rem;
    font-size: 2.5rem;
}

#showcase-header .showcase-container {
    height: 60rem;
    width: 100%;
    background: url('../img/showcase-01-01-01-01.png') right center/cover;
}

#showcase-header .showcase-container .showcase-text .square {
    position: absolute;
    background: #272727;
    height: 12rem;
    width: 1rem;
}

#showcase-header .showcase-container .showcase-text .btn {
    background: #272727;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#showcase-header .showcase-container .showcase-text h1 {
    margin-left: 2rem;
}


#showcase-header .showcase-container .showcase-text .btn {
    margin: 2rem 2rem;
}

/* best-books-section */

#best-books {
    display: flex;
    background: #272727;
    color: #fff;
    height: 55rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    padding: 0 6rem;
}
#best-books .text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#best-books .text-section .lines-arrow-bnt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#best-books .text-section  .btn {
    background: #272727;
    color: #fff;
    border-radius: 0.4rem;
    border: 1px solid #fff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#best-books .text-section .lines-arrow-bnt .lines .line {
    display: inline-block;
    background: #fff;
    height: 0.1rem;
    width: 5rem;
    margin: 0 1rem;
}


#best-books .igm-best-container {
    display: flex;
    align-items: flex-end;
}

#best-books .igm-best-container .square {
    display: block;
    height: 37.5rem;
    width: 13.8rem;
    border: 3px solid #fff;
}

#best-books .igm-best-container img {
    margin-left: -8rem;
}

#best-books .text-section {
    padding-right: 2rem;
}

#best-books .lines-arrow-bnt {
    margin-top: 1rem;
}

#best-books .text-section .container-text .text-summary{
    white-space: break-word;
    max-height: 29rem;
    overflow: hidden;
    text-overflow: clip;
}

.igm-best-container .mySlides {
    display: none;
    transition: 0.5s;
}

#best-books #best-arrow {
    cursor: pointer;
}

/* bestselling-books-section & popular-books*/

.bestselling-books .primary-text,
.popular-books .primary-text {
    font-size: 3rem;
    color: #272727;
    text-align: center;
    padding: 3rem 0;
}

.bestselling-books .bestselling-row,
.popular-books .popular-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
.bestselling-books .bestselling-row .book,
.popular-books .popular-row .book {
    opacity: 0;
    animation-name: book;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.col-1 {
    display: none;
}

.next-bo,
.prve-bo {
    cursor: pointer;
}

.next-bo:hover,
.prve-bo:hover {
    background: rgba(39,39,39,0.1);
    border-radius: 0.4rem;
}


@keyframes book {
    to {
        display: block;
        opacity: 1;
    }
}

/* categories-section */

.categories .container-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin:0 1rem;
    overflow: hidden;
}

.categories .container-categories .category {
    background: #272727;
    height: 47.5rem;
    border-radius: 0.4rem;
}

.categories .container-categories .category {
    font-size: 1.6rem;
    color: #fff;
}

.categories .primary-text {
    font-size: 3rem;
    padding: 3rem 0;
    text-align: center;
}

.categories .container-categories .category img {
    /* background: linear-gradient(
    to bottom,
    rgba(39,39,39,0.5),
    rgba(39,39,39,0.5)),
    url('../img/Categories/Art.jpg') center center/cover; */
    width: 100%;
    object-fit: cover;
    height: 47.5rem;
    background: #272727;
    opacity: 0.4;
    border-radius: 0.4rem;
}

.categories .container-categories .category:hover {
    font-size: 2.5rem;
}
.categories .container-categories .category img:hover {
    opacity: 0.8;
}

.categories .container-categories .category h1 {
    transform: translate(2rem , -9rem);
}

.progress .bg {
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    color: #272727;
    font-size: 3rem;
    text-align: center;
}

.progress .bg img{
    width: 13rem;
    height: auto;
}


.progress .bg .books p
 {
    padding-top: 4.7rem;
}

.progress .bg .line {
    background: #272727;
    height: 0.3rem;
    width: 27.5rem;
    margin: 0 3rem;
}

/* read-without-limits */
.read-without-limits .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
}

.read-without-limits .container .primary-text {
    font-size: 7rem;
    font-weight: bold;
    color: #272727;
    padding: 0 6rem;
    padding-top: 10rem;
}

.read-without-limits .container .btn{
    background: #272727;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    margin: 1rem 6rem;
}

.read-without-limits .container {
    margin-top: 1rem;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(39,39,39,0.5),
        rgba(39,39,39,0.5)), url('../img/cover-002-01-01-01.png') center center/cover;
}

/* footer */

.footer-container .container {
    display: flex;
    flex-direction: row;
    height: 37rem;
    width: 100%;
    background: #272727;
    color: #fff;
    justify-content: space-between;
}

.footer-container .container .footer-col-2{
    padding-top: 2.5rem;
}

.footer-container .container .footer-col-2 h1 {
    font-size: 3.5rem;
}

.footer-container .container .footer-col-2 p {
    font-size: 1.6rem;
    color: #A3A0A0;
}

.footer-container .container .footer-col-2 form {
    padding-top: 2rem;
}

.footer-container .container .footer-col-2 input,
.footer-container .container .footer-col-2 textarea{
    display: block;
    border: none;
    width: 100%;
    height: 3.8rem;
    border-radius: 0.4rem;
}

.footer-container .container .footer-col-2 input[placeholder],
.footer-container .container .footer-col-2 textarea[placeholder],
.footer-container .container .footer-col-2 button[type="submit"] {
    padding: 1rem;
    color: #575454;
    font-family: SF-Pro-Text;
    background: #fff;
}

.footer-container .container .footer-col-2 textarea{
    height: 7rem;
}

.footer-container .container .footer-col-2 button {
    border: none;
    width: 8rem;
    height: 3.8rem;
    border-radius: 0.4rem;
    float: right;
}

.footer-container .container .footer-col-1 {
    background: url('../img/background-001-01-01.png') no-repeat ;
    background-size: auto 37rem;
    width: 50%;
}

.footer-container .container .footer-col-1 {
   padding-top: 6rem;
}

.footer-container .container .footer-col-1 .logo {
    font-weight: bold;
    font-size: 5rem;
}

.footer-container .container .footer-col-1 a {
    color: #fff;
    font-size: 1.5rem;
    font-family: SF-Pro-Text;
}

.footer-container .container .footer-col-1 .nav h1 {
    font-size: 3rem;
}

.footer-container .container .footer-col-1 .nav ul li a {
    display: block;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.footer-container .Copyright {
    text-align: center;
    background: #323232;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.7rem 0;
}

.footer-container .container .footer-col-1 .nav,
.footer-container .container .footer-col-1 .logo {
    padding-left: 6rem;
}
.footer-container .container .footer-col-2 {
    padding-right: 6rem;
}




/* .modal-container {
    background-color: rgba(39, 39, 39, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show-modal {
    display: block;
}

.modal {
    background-color: #fff;
    border-radius: 0.4rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 40rem;
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header {
    background: #272727;
    color: #fff;
    padding: 1.5rem;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input[placeholder] {
    padding: 1rem;
    color: #A3A0A0;
    font-family: SF-Pro-Text;
    width: 100%;
    border: 0.1rem solid #272727;
    border-radius: 0.4rem;
}

.modal-form .submit-btn{
    background: #272727;
    color: #fff;
    font-family: SF-Pro-Text;
    border: none;
    border-radius: 0.4rem;
    float: right;
    padding: 0.3rem 3rem;
    margin-bottom: 3rem;
}

.close-btn {
    background: transparent;
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 2rem;
    cursor: pointer;
}

@keyframes modalopen {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}





.modal .form-control.success input {
    border-color: #2ecc71;
}

.modal .form-control.error input {
    border-color: #e74c3c;
}

.modal-container .modal .form-control small {
    color: #e74c3c;;
    visibility: hidden;
}

.modal .form-control.error small {
    visibility: visible;
} */

/* ______________books__page______________ */



.search-section {
    background: #3f3f3f;
    margin-bottom: 2rem;
}

.search-section .container-section {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.search-section .container-section form input {
    width: 55rem;
    font-size: 2rem;
    padding: 1rem;
    color: #272727;
    border: 1px solid #272727;
    border-radius: 0.4rem;
}

.search-section .container-section form button {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    border: 1px solid #272727;
    border-radius: 0.4rem;
    background: #272727;
}

.search-section .container-section form .filter{
    display: flex;
    justify-content: space-between;
    margin: 2rem 12rem 2rem 3rem;
}

.search-section .container-section form .filter select {
    font-size: 1.6rem;
    padding: 1rem;
    color: #272727;
    border: 1px solid #272727;
    border-radius: 0.4rem;
    -webkit-appearance: none;
    padding-right: 3rem;
}

.search-section .container-section form .filter .fa-caret-down {
    position: absolute;
    transform: translate(-2rem, 1.2rem );
    color: #272727;
}
/* .dropdown:hover .dropdown-content {
    display: block;
} */

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#main-container .all-books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-right: 6rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    grid-row-gap: 2rem;
}

.book {
    max-width: 15rem;
}

.book img{
    border-radius: 0.4rem;
}

.book img:hover {
    opacity: 0.8;
}

.book .title,
.book .title {
    font-size: 1.6rem;
    padding: 0.2rem 0;
    color: #272727;
}

.book .author,
.book .author {
    font-size: 1.4rem;
    color: #575454;
    padding-bottom: 0.2rem;

}

.book .rating .fa-star {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #272727;
    font-size: 1.2rem;
}

.book .rating .checked {
    -webkit-text-fill-color: #272727;
}

.book .price {
    position: absolute;
    background: #fff;
    color: #272727;
    font-size: 1.8rem;
    padding: 1rem;
    transform: translateY(-13rem);
    border-radius: 0 0.4rem 0.4rem 0;
    opacity: 0.9;
}

.book select{
    display: block;
    background: none;
    color: #272727;
    border: 1px #272727 solid;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 15rem;
    -webkit-appearance: none;
}
.book input {
    display: block;
    background: #272727;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 15rem;
    cursor: pointer;
}

.book input[value="Buy"]:hover {
    background: rgba(39,39,39,0.8);
}

.book input[value="Add to list"] {
    background: #fff;
    border: 1px solid #272727;
    color: #272727
}

.book .fa-plus {
    position: absolute;
    color: #272727;
    transform: translate(1rem, -2.55rem);
    font-size: 1.2rem;
}
.book .fa-caret-down {
    position: absolute;
    color: #272727;
    transform: translate(12.2rem, -2.7rem);
    font-size: 1.6rem;
}

#main-container .container-category-slid .container-category-slid-row-1 {
    /* border: 1px solid #272727; */
    border-radius: 0.4rem;
    margin-left: 6rem;
}

#main-container .container-category-slid h1 {
    background: #272727;
    color: #fff;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.9rem;
}

#main-container .container-category-slid form div{
   border-bottom: 1px #272727 solid;
   font-size: 2rem;
   padding: 0.5rem;
}

#main-container .container-category-slid form div:last-child {
    border-bottom: none;
}

#main-container .container-category-slid input[value] {
    display: inline-block;
    background: none;
    width: 43%;
    border: 1px solid #272727;
    font-size: 1.6rem;
    color: #272727;
    padding: 1rem;
    font-family: SF-Pro-Text;
    border: 1px #272727 solid;
    border-radius: 0.4rem;
    margin: 0.5rem;
}

#main-container .container-category-slid .col-1{
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

#main-container .container-category-slid input[type="submit"] {
    display: block;
    background: #272727;
    width: 100%;
    border: 1px solid #272727;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0;
    margin-top: 0.5rem;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
}

#main-container .container-category-slid input[type="submit"]:hover {
    background: rgba(39,39,39,0.8);
}

/* The container */
#main-container .container-category-slid form .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
#main-container .container-category-slid form .container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
#main-container .container-category-slid form .checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 0.4rem;
}

/* On mouse-over, add a grey background color */
#main-container .container-category-slid form .container:hover input ~ .checkmark {
background-color: #A3A0A0;
}

/* When the checkbox is checked, add a blue background */
#main-container .container-category-slid form .container input:checked ~ .checkmark {
background-color: #272727;
}

/* Create the checkmark/indicator (hidden when not checked) */
#main-container .container-category-slid form  .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
#main-container .container-category-slid form  .container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
#main-container .container-category-slid form  .container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.Pagination {
    margin-right: 6rem;
}

.Pagination .Pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Pagination .Pagination-container form input {
    color: #272727;
    background: none;
    border: 1px solid #272727;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 5rem 1.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.Pagination .Pagination-container form input:hover {
    background: #272727;
    color: #fff;
}


/* reading-list-page */

.status-bar {
    margin: 2rem 20rem;

}
.status-bar .status-bar-container {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #272727;
    border-right: 1px solid #272727;
    cursor: pointer;
}

.status-bar .status-bar-container .Current {
    background: #272727;
    color: #fff;
}

.status-bar .status-bar-container .want-to-read,
.status-bar .status-bar-container .reader,
.status-bar .status-bar-container .currently-reading{
    padding: 1rem;
    width: 33.4%;
    text-align: center;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
}

.status-bar .status-bar-container .want-to-read {
    border-right: 1px solid #272727;
}

.status-bar .status-bar-container .reader {
    border-right: 1px solid #272727;
}

.reading-list .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 2rem 6rem
}

.reading-list .container .container-status-book {
    display: flex;

}

.reading-list .container .container-status-book .description-container {

}


/* _________show book page_________ */

.main-section .main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 2rem;

}

.main-container .side-col-1 {
    width: 18.5rem;
}

.main-container .side-col-1 .book .form-module {
    display: flex;
    justify-content: space-between;
    width: 18.5rem;
}
.main-container .side-col-1 .book-details {
    margin :2rem 0;
    padding: 2rem 2rem 0 1rem;
    background: #fff;
    border-radius: 0.4rem;
}
.main-container .side-col-1 .book-details ul li {
    display: flex;
    align-items: center;
    color: #272727;
    font-size: 1.7rem;
    padding: 1.6rem 0;
    /* margin: 0.5rem 0; */
}
.main-container .side-col-1 .book-details ul li img {
    margin-right: 0.8rem;
}

.form-module {
    display: flex;
    flex-direction: column;
}

.main-container .side-col-1 input,
.main-container .side-col-1 select
{
    width: 18.5rem;
    font-size: 1.7rem;
}

.main-container .side-col-2 .summary-container .title {
    font-size: 4rem;
    font-weight: bold;
}

.main-container .side-col-2 .summary-container .row-info {
    padding: 0.5rem 0 0 0.5rem;
    color: #3f3f3f;
    font-size: 1.4rem;
}
.main-container .side-col-2 .summary-container .categories {
    /* border-top: 1px #E0E0E0 solid; */
    border-bottom: 1px #E0E0E0 solid;
    padding: 1.6rem 0;
}
.main-container .side-col-2 .summary-container .categories a {
    color: #272727;
    font-size: 1.4rem;
    border: 1px #E0E0E0 solid;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    margin: 1rem;
}

.categories a:hover {
    background: #e0e0e0;
}

.main-container .side-col-2 .summary-container .reviews {
    margin: 1rem 6rem;
    display: flex;
    flex-direction: column;
}

.add-rating {
    margin-top: 3rem;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

#rating {
    padding-left: 1rem;
}



#text-rating {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    height: 2.2rem;
}

#more {display: none;}

.read-more {
    margin: 1rem 0;
    color: #3a3a3a;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

.read-more:hover {
    color: #272727;
    text-decoration: underline;
}

.main-container .side-col-2 .summary-container .reviews .reviews-text {
    font-size: 3rem;
    margin: 1rem 0;
}
.main-container .side-col-2 .summary-container .reviews .review-container {
    display: flex;
}
 .review-content {
    width: 100%;

 }

.main-container .side-col-2 .summary-container .reviews .review-container .review-user img {
    border-radius: 0.4rem;
    object-fit: cover;

}

.main-container .side-col-2 .summary-container .reviews .review-container .review .container {
    padding: 1rem;
    margin: 0 1rem;
    border:  1px #E0E0E0 solid;
    border-radius: 0.4rem;

}

.main-container .side-col-2 .summary-container .reviews .review-container .review .container.username {
    font-size: 2rem;
}

.review-container .review .container .user-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#recommended-text {
    font-size: 3rem;
    text-align: center;
}


.dropbtn {
    color: #272727;
    background: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    padding: 0 0.4rem;
    z-index: 100;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 28px;
    top: -2px;
    font-size: 1.4rem;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    z-index: 100;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
  }

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-align: center;
    display: block;
    padding: 0.7rem;
  }
  .dropdown-content div:hover {
    background: #e0e0e0;
  }


  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #e0e0e0;
  }

.main-container .side-col-2 .summary-container .reviews .review-container .review .container .user-info .followers {
    font-size: 1.4rem;
    color: #3f3f3f;
    margin-bottom: 0.6rem;

}

.container-all-review {
    max-height: 80rem;
    overflow-y: scroll;
}
.clear {
    clear: both;
}
.review {
   width: 100%;
}
.reviews .review-container .review .interaction-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: #3f3f3f;
}


.review .interaction-container .add-interaction,
.review .interaction-container .interaction {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.review .interaction-container .add-interaction img {
    border: 1px #E0E0E0 solid;
    border-radius: 0.4rem;
    object-fit: cover;
    padding: 0.3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.add-review .user-container {
    margin: 1rem 4rem;
    display: flex;
    align-items: center;
}

.add-review .user-container img{
    border-radius: 0.4rem;
    object-fit: cover;
    margin-right: 1rem;
}



.add-review textarea[placeholder="Write Review"] {
    font-size: 1.6rem;
    font-family: SF-Pro-Text;
    padding: 1rem;
    border: 1px #e0e0ee solid;
    border-radius: 0.4rem;
    width: 100%;
    height: 8rem;
    resize: none;
}

#add-review-btn {
    margin: 4rem;
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
    margin-top: 0.5rem;
    color: #fff;
    background: #272727;
    border-radius: 0.4rem;
    border: none;
    float: right;
    cursor: pointer;
}

#add-review-btn:hover {
    background: #636262;
}




.main-container .side-col-3 {
    width: 29rem;
}

.main-container .side-col-3 .author-container {
    padding: 1.5rem;
    border: 1px #E0E0E0 solid;
    background: #fff;
    border-radius: 0.4rem;
}

.main-container .side-col-3 .author-container .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .side-col-3 .author-container .author-info .avatar-name {
    display: flex;
    align-items: center;
}

.main-container .side-col-3 .author-container .author-info .avatar {
    border-radius: 0.4rem;
    object-fit: cover;
}

.name-followers .followers {
    color: #3f3f3f;
    font-size: 1.4rem;
}

.name-followers {
    padding-left: 1rem;
}

.main-container .side-col-3 .author-container .follow {
    background: #272727;
    color: #fff;
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.main-container .side-col-3 .author-container .follow:hover {
    background: #636262;
}
.main-container .side-col-3 .author-container .author-summary {
    padding: 1rem;
    font-size: 1.5rem;
}

.main-container .side-col-3 .more-from-author {
    border: 1px #E0E0E0 solid;
    background: #fff;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.main-container .side-col-3 .more-from-author .books-author {
    max-height: 37rem;
    overflow: scroll;
}

.main-container .side-col-3 .more-from-author .more-books{
    font-size: 2rem;
    padding: 2rem 0 2rem 1rem;
}

.main-container .side-col-3 .more-from-author .books-author li a {
    padding: 0.2rem 2rem;
}

.main-container .side-col-3 .more-from-author .books-author li a {
    color: #272727;
    display: flex;
    align-items: center;
}

/* .main-container .side-col-3 .more-from-author .books-author li a{
    background: #E0E0E0;
} */

.main-container .side-col-3 .more-from-author .books-author li a img {
    border-radius: 0.4rem;
}

.main-container .side-col-3 .more-from-author .books-author li {
    padding: 0.3rem 0;
}

.main-container .side-col-3 .more-from-author .books-author li a .book-info {
    color: #3f3f3f;
    font-size: 1.4rem;
    padding-left: 1rem;
}

.main-container .side-col-3 .more-from-author .books-author li a .book-info .book-name {
    color: #272727;
    font-size: 1.8rem;
}






.main-section {
    background-color: #F7F7F7;
}

.main-container .side-col-3 {
    margin: 2rem 6rem 0 0;
}

.main-container .side-col-2 {
    margin: 2rem 0 4rem 0;
    padding: 4rem 4rem 2rem 4rem ;
    border-radius: 0.4rem;
    border: 1px #e0e0ee solid;
    background-color: #fff;
}
.main-container .side-col-1 {
    margin: 2rem 0 0 6rem;
}

.add-rating .rating .fa-star {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #272727;
    position: sticky;
}

.add-rating .rating .checked {
    -webkit-text-fill-color: #272727;
}

.recommended-books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin: 3rem 0;
}
